.buttonStyle {
	color: red;
	background-color: blue;
}

.header-container {
	width: 100%;
	height: 100px;
	/* background-color: #787878; */
	background-image: url("../images/pattern2.png");
}

.body-wrapper {
	margin-left: 250px;
	margin-right: 250px;
}

.designOnline {
	margin-left: 250px;
	margin-right: 250px;
	width: 100%;
	height: 100%;
	min-height: 500px;
	max-height: 500px;
	min-width: 600px;
	max-width: 600px;
	
}
.row {
	display: -webkit-inline-box;
}

.menuHeader {
	/* margin: 0px auto !important; */
}

#panorama {
	width: 100%;
	height: 350px;
}